body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 85vh;
}

.calcContainer {
  outline: 3px solid black;
  padding: 3em 1em;
  width: 10em; 
  height: 12em;
}

.infoContainer {
  outline: 3px solid black;
  padding: 0.2em;
  margin-bottom: 2em;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.2em;
}