body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 85vh;
  box-sizing: border-box;
  background-color: #108DF4;
}

.calcContainer {
  border: 3px solid black;
  border-radius: 15px;
  padding: 3em 1em;
  width: 21em; 
  height: 25em;
  background-color: dimgray;
}

.calcInfo {
  font-size: 25px;
  font-weight: bold;
  text-shadow: -1.2px -0.8px 0.5px #64625F;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  height: 3em;
  margin-bottom: 2em;
  padding: 0 0.5em;
  background-color: #ACA9A6;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  height: 20em;
}

.zeroContainer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.zero.number {
  width: 7.7em;
}

.buttonsContainer button {
  border: 2.5px solid black;
  border-radius: 2em;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  background-color: #F68807;
  width: 3.7em;
  height: 2.8em;
}

.buttonsContainer button:hover, 
#top:hover,
#side:hover,
#equals:hover {
  background-color: #64625F;
}

#top, #side, #equals {
  background-color: black;
  color: white;
}

.active {
  background-color: #E34029 !important;
}